<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krake Crag</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
    .object {
	pointer-events: none;
    }
    </style>
</head>
<body>
    <div class="content-wrapper">
        <h1 class="center-text">Velkommen til Krakes klatrevæg</h1>
        <div id="entry-name" class="center-text">Vælg et problem fra listen i bunden</div>
        <p class="center-text">
            Start med hænderne på greb med to cirkler<br>
            Slut med begge hænder på øverste greb
        </p>
	<button id="toggleImage" class="button">Skift til sort/hvid</button>
        <div id="image-container">
            <img id="main-image" src="{{ url_for('static', filename='wallc.jpg') }}" alt="Wall">
        </div>
        <button id="clearSelection" class="button">Fjern selektion</button>
        <button id="createEntry" class="button">Lav nyt problem</button>
        <h2>Problemer:</h2>
        <ul id="entriesList"></ul>
    </div>
    <script>
        $(document).ready(function () {

	    var colorImage = "{{ url_for('static', filename='wallc.jpg') }}";
            var bwImage = "{{ url_for('static', filename='wall.jpg') }}";
            var isColor = true;

            $('#toggleImage').on('click', function () {
                if (isColor) {
                    $('#main-image').attr('src', bwImage);
                    $(this).text('Skift til farve');
                } else {
                    $('#main-image').attr('src', colorImage);
                    $(this).text('Skift til sort/hvid');
                }
                isColor = !isColor;
            });

            function adjustObjectPositions() {
                var img = $('#main-image');
                var imgWidth = img.width();
                var imgHeight = img.height();

                $('.object').each(function () {
                    var obj = $(this).data('object');
                    $(this).css({
                        top: (obj.top_percent / 100 * imgHeight) + 'px',
                        left: (obj.left_percent / 100 * imgWidth) + 'px',
                        width: (obj.width_percent / 100 * imgWidth) + 'px',
                        height: (obj.height_percent / 100 * imgHeight) + 'px'
                    });
                });
            }

            function loadObjects() {
                $.getJSON("{{ url_for('static', filename='objects.json') }}", function (data) {
                    var img = $('#main-image');
                    img.on('load', function () {
                        data.forEach(function (obj, index) {
                            var div = $('<div class="object"></div>').data('object', obj).data('index', index);
                            $('#image-container').append(div);
                        });
                        adjustObjectPositions();
                    }).each(function () {
                        if (this.complete) $(this).trigger('load');
                    });

                    // Adjust positions when the window is resized
                    $(window).resize(adjustObjectPositions);
                }).fail(function (xhr, status, error) {
                    console.error('Error loading objects:', status, error);
                });
            }

            $('#clearSelection').on('click', function () {
                $('.object').removeClass('selected');
                selectedObjects = [];
                console.log('Selection cleared');
                $('#entry-name').text('Vælg et problem fra listen i bunden');
            });

            function loadEntries() {
                $.get('/get_entries', function (entries) {
                    console.log('Loading entries:', entries);
                    entries.sort(function(a, b) {
                        return a[1].localeCompare(b[1]);
                    });
                    $('#entriesList').empty();
                    entries.forEach(function (entry) {
                        $('#entriesList').append('<li data-id="' + entry[0] + '">' + entry[1] + '</li>');
                    });
                }).fail(function (xhr, status, error) {
                    console.error('Error loading entries:', status, error);
                });
            }

            $('#entriesList').on('click', 'li', function () {
                var entryId = $(this).data('id');
                console.log('Loading entry:', entryId);
                $.get('/entry/' + entryId, function (entry) {
                    var selected = entry[2].split(',').map(Number);
                    $('.object').removeClass('selected');
                    selected.forEach(function (index) {
                        $('.object').eq(index).addClass('selected');
                    });
                    $('#entry-name').text(entry[1]);

		    // Scroll to just below the first header
        	    $('html, body').animate({
            		scrollTop: $('h1').offset().top + $('h1').outerHeight()
        	    }, 500); // 500 milliseconds for smooth scroll
                }).fail(function (xhr, status, error) {
                    console.error('Error loading entry:', status, error);
                });
            });

            $('#createEntry').on('click', function () {
                window.location.href = 'create_climb';
            });

            loadObjects();
            loadEntries();
        });
    </script>
</body>
</html>

